<div class="container">
  <div class="card card-container">
    <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
    <p id="profile-name" class="profile-name-card"></p>
    <form class="form-signin" (ngSubmit)="onSubmit()" >
      <span id="reauth-email" class="reauth-email"></span>
      <input type="text" id="username" class="form-control" [(ngModel)]="model.username"  #username="ngModel" name="username" placeholder="User Name" required autofocus>
      <input type="password" id="inputPassword" class="form-control" [(ngModel)]="model.password" #password="ngModel" name="password" placeholder="Password" required>
      
      <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
    </form>
    <a routerLink="/register" class="newaccount">
      Create a New Account
    </a>
  </div>

  <h3>{{message}}</h3>
</div>
