<div class="card-container">
  <table>
    <thead>
      <tr>
        <th>NAME</th>
        <th>DESIGNATION</th>
        <th>SALARY</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let employee of users;">
        <tr *ngIf="employee.id==userid || userid==1004 ">
          <th>{{employee.name}}</th>
          <th>{{employee.designation}}</th>
          <th>{{employee.salary}}</th>
        </tr>
      </ng-container>
    </tbody>
  </table>
  <h3>{{message}}</h3>

  <a routerLink="/login" class="loginpage">
    Log out
  </a>
</div>
