<div class="container">
  <div class="card card-container">
    <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
    <p id="profile-name" class="profile-name-card"></p>
    <form class="form-register" #registerationForm="ngForm"  (ngSubmit)="onSubmit(registerationForm)">
      <span id="reauth-email" class="reauth-email"></span>
      <input type="text" id="name" class="form-control" [(ngModel)]="model.name"  #name="ngModel" name="name" placeholder="User Name" required autofocus>
      <input type="password" id="password" class="form-control" [(ngModel)]="model.password"  #password="ngModel" name="password" placeholder="Password" required>
      <input type="number" id="designation_id" class="form-control" [(ngModel)]="model.designation_id"  #designation_id="ngModel" name="designation_id" placeholder="Designation" required>
      <!--<div ng-app="myApp" ng-controller="myCtrl">
        <select ng-model="selectedName" ng-options="item for item in names"></select>
        </div>-->

        <input type="number" id="salary" class="form-control" [(ngModel)]="model.salary" #salary="ngModel" name="salary" placeholder="Salary" required>
        <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" >Register</button>
      <button class="btn btn-lg btn-primary btn-block btn-signin" type="button" (click)="resetForm(registerationForm)">Reset</button>
</form>
    <a routerLink="/login" class="loginpage">
      Already have an account?
    </a>
  </div>
</div>
