<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<!--<app-login></app-login>-->
<!--<app-register></app-register>-->

<router-outlet></router-outlet>
